*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#title{
  /* margin-top: ; */
}
#container{
  margin: 8px;
  border: solid black;
}
/* #header{
  margin: 5px;
  border: solid black;
  padding: 3px;} */

.form, .form1{
  margin: 8px;
  border: solid black;
  padding: 1%;
  }
#checkbox_text{
 
}
#contract {
  border: 1px solid black;
}
#Name {
  flex-direction: column;
}
/* .form1 label{
  width: 450px;
  display: inline-block;
} */

/* .form_item{
  height: 35px;  
} */
.form_item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
  
}
.form1{
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 30%;
}
legend{
  font-size: 30px;
}